#name,
#navigation,
#projects h3,
.githubLink,
h2,
h4,
p {
    text-align: center
}

.container,
header {
    background-image: url(./public/images/blacktriangles.png)
}

#navigation a:link,
.noUnderline {
    text-decoration: none
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    background-color: #fff
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 9.5rem;
    line-height: 125px;
    letter-spacing: 0
}

a,
h2,
h3,
h4,
p {
    font-family: 'Archivo Narrow', sans-serif
}

p {
    font-size: 16px
}

h2 {
    padding: 1%;
    font-size: 30pt
}

h3 {
    font-size: 24pt;
    padding-top: 60px
}

h4 {
    font-size: 20px
}

a:hover {
    color: #D7D1D9;
    cursor: pointer
}

a:link,
a:visited {
    color: #000
}

#name,
.navWrapper a {
    color: #fff
}

#name {
    padding: 120px
}

.container {
    margin-top: 7%;
    padding: 50px;
    overflow: auto
}

.navWrapper {
    z-index: 3;
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 60px;
    -webkit-transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    -o-transition: background-color .5s linear;
    -ms-transition: background-color .5s linear;
    transition: background-color .5s linear
}

#projects h3,
p {
    margin: 15px
}

#contact a,
.navWrapper.Stage2 a,
.socials a {
    color: #000
}

.card {
    border: 1px solid #000
}

.navWrapper.Stage2 {
    background-color: #fff;
    border-bottom: gray 1px solid
}

#navigation {
    font-size: 1.5rem;
    padding-top: 15px;
    padding-bottom: 40px
}

.socials p {
    text-align: center!important
}

#navigation a:link {
    padding: 20px
}

.socials {
    width: 20%;
    float: left;
    margin-top: 33px;
    margin-left: 35px
}

.aboutSection {
    width: 100%;
    height: 270px;
    padding: 0
}

.aboutSection p {
    text-align: left
}

.AboutDetail {
    width: 45%;
    float: left
}

.AboutDetail p {
    font-size: 18px
}

.TextLarge {
    font-size: 24px
}

#me {
    float: left;
    margin: 3%
}

#contact {
    margin:0 auto;
    padding: 20px;
    width: 60%;
    border: 2px solid #000
}

@media only screen and (max-width:1100px) {
    .socials {
        margin-left: 0
    }
    #me {
        margin-right: 5px
    }
    h1 {
        font-size: 7rem
    }
}

@media only screen and (max-width:975px) {
    .socials p {
        margin-left: 1px;
        margin-right: 1px
    }
    #me {
        height: 210px;
        width: 210px
    }
}

@media only screen and (max-width:890px) {
    #navigation {
        padding-bottom: 15px
    }
    .aboutSection {
        height: 365px
    }
    .AboutDetail {
        width: 70%;
        margin-bottom: 45px
    }
    .socials {
        width: 100%;
        float: none;
        border: none
    }
}

@media only screen and (max-width:850px) {
    h1 {
        font-size: 6rem
    }
    h3 {
        padding-top: 50px
    }
}

@media only screen and (max-width:800px) {
    .aboutSection {
        height: 420px
    }
    .AboutDetail {
        width: 65%
    }
    h1 {
        font-size: 5rem
    }
}

@media only screen and (max-width:690px) {
    .aboutSection {
        height: 560px
    }
    .AboutDetail {
        width: 100%;
        margin-bottom: 10px
    }
    .AboutDetail p {
        text-align: center
    }
    #fullName {
        line-height: 75px
    }
    #meBox {
        width: 240px;
        margin: 0 auto
    }
    .socials {
        width: 200px;
        margin: 0 auto
    }
}

@media only screen and (max-width:640px) {
    #socials {
        width: 110px
    }
    .navWrapper a {
        font-size: 16pt
    }
    .textWrapper {
        margin-bottom: 50px;
        height: 100%
    }
    .aboutSection {
        height: 600px
    }
    h1 {
        font-size: 5rem;
        line-height: 90px
    }
    #name {
        padding: 100px 0
    }
}

@media screen and (max-width:500px) {
    .aboutSection {
        height: 650px
    }
}

@media screen and (max-width:455px) {
    .container {
        padding: 0
    }
    #me,
    #navigation a:link {
        padding: 10px
    }
    .aboutSection {
        height: 700px
    }
    h1 {
        font-size: 4rem
    }
    #me {
        margin: 0 auto
    }
    h2 {
        font-size: 22pt
    }
    h4 {
        font-size: 12pt
    }
    #navigation {
        font-size: 1.7em
    }
    #name {
        padding: 100px 0
    }
}












.container,
header {
    background-image: url(../images/blacktriangles.png)
}

#name,
#navigation,
.githubLink,
h2,
h4 {
    text-align: center
}

#navigation a:link,
.noUnderline {
    text-decoration: none
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    background-color: #fff
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 9.5rem;
    line-height: 125px;
    letter-spacing: 0
}

a,
h2,
h3,
h4,
p {
    font-family: 'Archivo Narrow', sans-serif
}

p {
    font-size: 16px
}

h2 {
    padding: 1%;
    font-size: 30pt
}

h3 {
    font-size: 24pt;
    padding-top: 60px
}

h4 {
    font-size: 20px
}


a:hover {
    color: #D7D1D9;
    cursor: pointer
}

a:link,
a:visited {
    color: #000
}

#name,
.navWrapper a {
    color: #fff
}


#name {
    padding: 120px
}

.container {
    margin-top: 7%;
    padding: 50px;
    overflow: auto
}

.navWrapper {
    z-index: 3;
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 60px;
    -webkit-transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    -o-transition: background-color .5s linear;
    -ms-transition: background-color .5s linear;
    transition: background-color .5s linear
}
#projects h3,
p {
    text-align: center;
    margin: 15px
}
#contact a,
.navWrapper.Stage2 a,
.socials a {
    color: #000;
}
.card {
    border: 1px solid #000
}
.navWrapper.Stage2 {
    background-color: #fff;
    border-bottom: gray 1px solid
}

#navigation {
    font-size: 1.5rem;
    padding-top: 15px;
    padding-bottom: 40px
}
.socials {
    width: 20%;
    float: left;
    margin-top: 33px;
    margin-left: 35px
}
.socials p {
    text-align: center!important
}

#navigation a:link {
    padding: 20px
}

.socials {
    width: 20%;
    float: left;
    margin-top: 33px;
    margin-left: 35px
}
.aboutSection {
    width: 100%;
    height: 270px;
    padding: 0
}
.aboutSection p {
    text-align: left
}

.AboutDetail {
    width: 45%;
    float: left
}
.AboutDetail p {
    font-size: 18px
}
.TextLarge {
    font-size: 24px
}
#me {
    float: left;
    margin: 3%
}
#contact {
    margin-top: 20px;
    margin-left: 25%;
    padding: 20px;
    width: 40%;
    border: 2px solid #000;
}


@media only screen and (max-width:1100px) {
    .socials {
        margin-left: 0
    }
    #me {
        margin-right: 5px;
    }
    h1 {
        font-size: 7rem;
    }

}

@media only screen and (max-width:975px) {
    .socials p {
        margin-left: 1px;
        margin-right: 1px
    }
    #me {
        height: 210px;
        width: 210px;
    }

}

@media only screen and (max-width:890px) {
    #navigation {
        padding-bottom: 15px;
    }
    .aboutSection {
        height: 365px;
    }
    .AboutDetail {
        width: 70%;
        margin-bottom: 45px;
    }
    .socials {
        width: 100%;
        float: none;
        border: none
    }
}

@media only screen and (max-width:850px) {
    h1 {
        font-size: 6rem;
    }
    h3 {
        padding-top: 50px
    }
}

@media only screen and (max-width:800px) {
    .aboutSection {
        height: 420px
    }
    .AboutDetail {
        width: 65%
    }
    h1 {
        font-size: 5rem
    }
}

@media only screen and (max-width:690px) {
    .aboutSection {
        height: 560px
    }
    .AboutDetail {
        width: 100%;
        margin-bottom: 10px
    }
    .AboutDetail p {
        text-align: center
    }
    #fullName {
        line-height: 75px
    }
    #meBox {
        width: 240px;
        margin: 0 auto
    }
    .socials {
        width: 200px;
        margin: 0 auto
    }
}

@media only screen and (max-width:640px) {
    #socials {
        width: 110px
    }
    .navWrapper a {
        font-size: 16pt
    }
    .textWrapper {
        margin-bottom: 50px;
        height: 100%
    }
    .aboutSection {
        height: 600px
    }
    h1 {
        font-size: 5rem;
        line-height: 90px
    }
    #name {
        padding: 100px 0
    }
}

@media screen and (max-width:500px) {
    .aboutSection {
        height: 650px
    }
}

@media screen and (max-width:455px) {
    .container {
        padding: 0;
    }
    .aboutSection {
        height: 700px;
    }
    h1 {
        font-size: 4rem;
    }
    #me {
        padding: 10px;
        margin: 0 auto;
    }
    h2 {
        font-size: 22pt;
    }
    h4 {
        font-size: 12pt;
    }
    #navigation {
        font-size: 1.7em;
    }
    #navigation a:link {
        padding: 10px;
    }
    #name {
        padding: 100px 0;
    }
   
}